/* App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas: 
    "header header"
    "nav main"
    "nav sidebar"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
  gap: 10px;
  padding: 10px;
}

.header {
  grid-area: header;
  background: #000000;
  color: white;
  padding: 15px;
  font-size: 1.5rem;
  
}

.nav {
  grid-area: nav;
  background: #2e60cc52;
  padding: 15px;
  color: rgb(0, 0, 0);
}

.main {
  grid-area: main;
  background: #ffffff;
  padding: 15px;
}

.sidebar {
  grid-area: sidebar;
  background: #000000;
  padding: 15px;
  color: white;
}

.footer {
  grid-area: footer;
  background: #34495e;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

/* Responsivo: em telas pequenas, muda para uma coluna só */
@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }

  .nav {
    order: 2;
  }

  .main {
    order: 3;
  }

  .sidebar {
    order: 4;
  }
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 15px 20px;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;

}
img{
  height: 100px;
  border-radius: 10px;

}

.menu-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.menu-links li a:hover {
  text-decoration: underline;
}
.imagem-grande {
  height: 300px; /* ou o tamanho que quiser */
  width: 200px;
  object-fit: cover; /* mantém a imagem proporcional */
}
.imagem-grande:hover{
    transform: scale(1.1); /* aumenta 10% ao passar o mouse */
  cursor: pointer; /* muda o cursor para indicar interatividade */
}
img:hover{
    transform: scale(1.1); /* aumenta 10% ao passar o mouse */
  cursor: pointer; /* muda o cursor para indicar interatividade */
}